<div>
    Sort Order:
    <select ng-model="repoSortOrder">
        <option value="+name" selected>Name</option>
        <option value="-stargazers_count">Stars (highest to lowest)</option>
        <option value="+stargazers_count">Stars (lowest to highest)</option>
        <option value="+language">Coding Language</option>
    </select>

    <table>
        <thead>
        <tr>
            <th>Repo Name</th>
            <th>Stars</th>
            <th>Language</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="repo in repos | orderBy: repoSortOrder ">
            <td>{{ repo.name }}</td>
            <td>{{ repo.stargazers_count | number }}</td>
            <td>{{ repo.language }}</td>
        </tr>
        </tbody>
    </table>
</div>